.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
}

.container .box {
    /*height: 150px*/
    border: 2px solid black;
}

.une {
    grid-column: 1 / 4;
}

.deux {
    grid-row: 2 / 4;
}

.trois {
    grid-column: 2 / 3;
}

.quatre {
    grid-column: 3 / 4;
}

.cinq {
    grid-column: 2 / 4;
}

.six {
    grid-column: 1 / 3;
}

.sept {
    grid-column: 3 / 4;
}

.huit {
    grid-column: 1 / 4;
}


