.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 100px 200px;
    gap: 10px;
}

.container .box {
    /*height: 150px*/
    border: 2px solid black;
}




